navbar
div This is the booking view.

.container
  form(ng-submit="submit()" ng-controller="BookingCtrl")
    label(for="Name") Name 
    input(type="text", name="Name", ng-model="bookingForm.propName")
    br
    label(for="Email") Email 
    input(type="email", name="Email", ng-model="bookingForm.email")
    br
    label(for="Phone") Phone # 
    input(type="tel", name="Phone", ng-model="bookingForm.phoneNum")
    br
    label(for="Date") Date 
    input(type="date", name="Date", ng-model="bookingForm.eventDate")
    br
    label(for="Type") Type of Event 
    select(name="Type", ng-model="bookingForm.eventType")
      option(value="Speaking") Speaking
      option(value="Music") Music
    br
    label(for="Description") Description
    input(type="text", name="Description", ng-model="bookingForm.descript")
    br
    input(type="submit" value="Submit")
            
            
      
        

footer
